**/error_logs
*/gen/
**/gen/
*.class
*/**/.DS_Store
.DS_Store
**/.DS_Store
# Package Files #
# *.jar #
*.war
*.ear
*.log
*-lock.json
target/
**/target/
*/unknown
*/nb-configuration.xml
**/nb-configuration.xml
*.iml
.mtj.tmp/
*.idea
**/*.dev.properties
**/http.dev.properties
**/wechat.dev.mp.properties
**/im.dev.properties
**/persistence.dev.properties
**/persistence.renewdb.properties
**/node_modules
**/dist
**/npm*.log.*
**/nbproject
**/nbactions.xml
**/files
**/build
**/logs
*.tmp
**/tongxin-*.jar
*.pid
/prod/files1/
/prod/files2/
/prod/files4/
/prod/files3/
